
*{
	margin: 0;
	padding: 0;
}
#nav-bar{
	background-color: #fff;
}
.navbar-brand img{
	height: 40px;
	padding: px;
}

.navbar-nav{
	float: right;

}
.nav-link{
	padding: 4px;
	margin: 0px 10px;
}
#nav-bar ul li a:hover{
	color: rgb(3, 102, 252);


}
#nav-bar ul li a{
	font-weight: 500;	
}
#about-us{
	padding-top: 30px;
}

#about-us h5{
	padding-bottom: 10px;
}

h6{
	font-size: 15px;
}

.services{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("background_1.jpg");
	 background-position: center;
	 background-size: cover;
	 background-attachment: fixed;
	 width: 100%;
	 height: ;


}

.services h1{
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	color: white;
	border-bottom-width: 30px;
	font-weight: 400;
}
.service_1{
	color: white;
	margin-top: 70px;
	padding-left: 50px;
}

.lead{
	font-size: 16px;
}
#circle-icon {
    margin-left: 30%;
    padding:12px;
    border-radius:50%;
    border: 1px solid #fff;
   	margin-bottom: 25px;
}
.lead{
	font-size: 15px;
	text-align: center;
	margin-right: 65px;
}

.team-header{
	margin-top: 60px;

}
#our-team{
	padding-top: 60px;
	padding-bottom: 50px;
	color: #555;
}
#our-team h1{
	text-align: center;
	display: block;

	border-bottom-width:  30px;

}
#our-team h4{
	color: rgb(66, 144, 245); 
}
#our-team .img-box{
	opacity: 1;
	display: block;

}

.profile{
	height: 320px;
	width: 270px;
}

#texture{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("texture_1.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 250px;
}
#texture h3{
	text-align: center;
	display: block;
	padding-top: 96px;
	font-weight: 100;

}
#texture a{
	margin-left: 180px;
	margin-top: 12px;
	padding: 1px 3px;
	
}
.h1{
	text-align: center;
	padding: 50px 50px;
	display: block;
}
/*  price plan*/
#price{
	padding: 20px 0;
	background-color: #efefef;
}

.single-price{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;

}
.single-price:hover{
	box-shadow: 0 4px 10px #333;
}
.price-head{
	background-color: #2196f3;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width:100%; 
}
.price-head h2{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p{
	font-size: 25px;
	color: #ccc;
	font-weight: bold;
	line-height: 30px;
}

.price-content{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child{
	border: none;
}
.fa-check-circle{
	color: green;
	font-size: 20px;
	margin-right: 10px;
}
.fa-times-circle{
	color: red;
	font-size: 20px;
	margin-right: 10px;
}
.price-button{
	display: block;
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}
.buy-btn{
	background-color: #2196f3;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
	color: #fff;

}
.buy-btn a{
	text-decoration: none;
}
.buy-btn:hover{
	color: #fff;
	border: 2px solid black;
}
#price h1{
	text-align: center;
	margin-bottom: 35px;
}


/**{
  box-sizing: border-box
}

.container{
  background: rgb(237, 239, 240);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card{
  min-height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column;
  justify-content:space-between;
 
}
.text{
  padding: 2.2em;
  line-height: 1.7em;
  position: relative;
  font-size: 18px;
}
.image{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url("https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
  
}

.footer{
  background: linear-gradient(90deg, #1a2B96 0%, #d22B96 100%);
  height: 140px;
  border-radius: 0 0 10px 10px;
  position:relative;
  
}

.quote{
  font-size: 400%;
  float: right;
  opacity: .1;
  transform: rotate(10deg) translate(-10px, -40px);
 color:#4D3FA3;
}

.person{
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size:1.5rem;
  font-weight: 600;
}
*/

*{
  box-sizing: border-box
}

#comment{
	padding-top: 20px;
}
.comments{

  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card{
	margin-bottom: 70px;	
  min-height: 300px;
  width: 320px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  margin-left: 70px;
  background: rgb(237, 239, 240);
 
}
.image{
  
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url("profile_2.jpg");
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;

}
.image_1{
  
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url("profile_1.jpg");
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
  
}
.image_2{
  
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url("profile_5.jpg");
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
  
}
.text{
  padding-top: 50px;
  padding: 2.2em;
  line-height: 1.7em;
  position: relative;
  font-size: 14px;
  margin-top: 20px;

}


.header{
  
  height: 140px;
  border-radius: 0 0 10px 10px;
  position:relative;
  
}

.comments i{
	color: rgb(66, 144, 245);
	padding: 7px;
	

}
.text p{
	padding: 16px;

}
#comment h1{
	text-align: center;
	padding-top: 40px;
}

#Contact{
	padding-top: 0px;
	background: rgb(237, 239, 240);
	height: 500px;
	width: 100%;
}

#Contact h1{
	display: block;
	text-align: center;
	padding: 40px 40px;
}
#Contact .form{
	
	
}
.details{
	
	margin-bottom: 37px;
}
.box{
	height: 40px;
	width: 100%;
	background-color: #fff;
	border-radius: 4px ;
	border-color: red;
}
.box i{
	color: rgb(66, 144, 245);
}
.box_1 i{
	padding-right: 4px;
}
.animate__animated.animate__slideInDown{
	--animation-duration: 0s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}
